.zPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.zPagination button {
  border: 1px solid var(--grayLight);
  padding: 0.5rem 1rem;
  background-color: var(--mainBase);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.zPagination button:hover {
  background-color: var(--mainBlue);
  color: #fff;
}

.zPagination button.active {
  background-color: var(--mainBlue);
  color: #fff;
  font-weight: bold;
}
