:root {
    --mainBase: #FFFBCB;
    --gray: #54595F;
    --grayDark: #3F4347;
    --mainGreen: #8FBE6D;
    --mainYellow: #F1E65C;
    --mainOrange: #F8961F;
    --mainRed: #EA7171;
    --mainPurple: #AE84D3;
    --mainBlue: #577590;
    --mainGrad: linear-gradient(135deg, var(--mainGreen) 0%, var(--mainYellow) 100%);
    --yellowGrad: linear-gradient(135deg, var(--mainYellow) 0%, var(--mainRed) 100%);
    --redGrad: linear-gradient(135deg, var(--mainRed) 0%, var(--mainOrange) 100%);
    --orangeGrad: linear-gradient(135deg, var(--mainOrange) 0%, var(--mainRed) 100%);
    --purpleGrad: linear-gradient(135deg, var(--mainRed) 0%, var(--mainPurple) 100%);
    --blueGrad: linear-gradient(135deg, var(--mainPurple) 0%, var(--mainBlue) 100%);
    --zTable-row-odd: rgba(143, 190, 109, 0.2); /* mainGreen with 20% opacity */
    --zTable-row-even: rgba(241, 230, 92, 0.2); /* mainYellow with 20% opacity */
    --bodyPsize: clamp(16px, 2.5vw, 22px); /* New font size variable */
    --bodySmPsize: clamp(12px, 2vw, 18px); /* Small text size variable */
    --h1size: clamp(32px, 5vw, 48px); /* h1 */
    --h2size: clamp(28px, 4vw, 40px); /* h2 */
    --h3size: clamp(24px, 3.5vw, 36px); /* h3 */
    --h4size: clamp(20px, 3vw, 30px); /* h4 */
    --h5size: clamp(18px, 2.5vw, 24px); /* h5 */
    --h6size: clamp(16px, 2vw, 20px); /* h6 */
  }
  
  body.mainGreen {
    background: var(--mainGrad);
  }
  
  body.mainYellow {
    background: var(--yellowGrad);
  }
  
  body.mainOrange {
    background: var(--orangeGrad);
  }
  
  body.mainRed {
    background: var(--purpleGrad);
  }
  
  body.mainPurple {
    background: var(--blueGrad);
  }
  
  body.mainBlue {
    background: var(--blueGrad);
  }