/* Modal Container */
.zModal {
    position: relative;
    padding: 0 2rem;
  }
  .zModalClose {
    position: absolute;
    top: 1em;
    right: 1em;
  }
.zModal-header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
border-bottom: 1px solid var(--grayLight);
border-top-left-radius: 0.3rem;
border-top-right-radius: 0.3rem;
}
  /* Modal Title */
  .zModal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
  }
  /* Modal Body */
  .zModal-body {
    display: flex;
    position: relative;
    flex: 1 1 300px;
    padding: 1rem;
  }
  
  /* Modal Footer */
  .zModal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-top: 1px solid var(--grayLight);
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

.zModal-Danger{
    background-color: #ffe6e6;
}
.zModal-Info{
  background-color: #e6f7ff;
}