/* depTemplate */
.pageHero {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: Left;
  width: 100%;
}

.heroSubtitle {
  font-size: var(--h1size);
  color: var(--mainBase);
  font-weight: 700;
  align-self: flex-end; /* Aligns this specific element to the left of the flex container */
  text-align: left;       /* Ensures text content aligns to the left */
  padding: 0 10%;
}
.page-special {
  width: 100%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children vertically */
  background: var(--mainBase);
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 200px;
}
.page-special p {
  font-size: var(--h4size);
}
.page-special .special-content {
  margin-top: 2rem; /* Adds space above the special content */
}

.page-special::before {
  content: '';
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, rgba(255, 251, 203, 0) 0%, rgba(255, 251, 203, 1) 100%);
}

.page-special::after {
  content: '';
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, rgba(255, 251, 203, 0) 0%, rgba(255, 251, 203, 1) 50%, rgba(255, 251, 203, 1) 100%);
}
